<div class="oj-hybrid-padding">
  <div class="oj-hybrid-padding">

    <div class="">
      <!-- WITH WEB CCA COMPONENT -->
      <filter-table tableid="it ems" filter="" data={{itemData}} onrowclick="{{handleRowClick}}"></filter-table>
      <div class="container">
          <div class="row">
              <div class="col-md-2 jumbotron" height="200"></div>
              <div class="col-md-4">
                  <h2>Book name</h2>
                  <p>Genre</p>
                  <hr>
                  <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                  </p>
              </div>
          </div>
          <hr class="invisible">
          <div class="row">
              <div class="col-md-2 jumbotron" height="200"></div>
              <div class="col-md-4">
                  <h2>Book name</h2>
                  <p>Genre</p>
                  <hr>
                  <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                  </p>
              </div>
          </div>
          <hr class="invisible">
          <div class="row">
              <div class="col-md-2 jumbotron" height="200"></div>
              <div class="col-md-4">
                  <h2>Book name</h2>
                  <p>Genre</p>
                  <hr>
                  <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                  </p>
              </div>
          </div>
          <hr class="invisible">
          <div class="row">
              <div class="col-md-2 jumbotron" height="200"></div>
              <div class="col-md-4">
                  <h2>Book name</h2>
                  <p>Genre</p>
                  <hr>
                  <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
