
<div class="oj-hybrid-padding">
  <div class="oj-hybrid-padding">
    <div class="">
      <!-- WITH WEB CCA COMPONENT -->
      <!-- <filter-table tableid="it ems" filter="" data={{itemData}} onrowclick="{{handleRowClick}}"></filter-table> -->
      <input class="form-control col-md-3" type="text" data-bind="" placeholder="Filter..." />
      <br>
      <div class="container">
          <div class="row" data-bind="foreach: books">
            <div class="card cardBooks" style="width: 20rem; margin: 10px;">
            <img class="card-img-top jumbotron" height="300" width="100" src="https://images-na.ssl-images-amazon.com/images/I/41bGjxXX%2BhL._SL500_.jpg"
                alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" data-bind="text: title"></h4>
                    <strong class="badge badge-dark">
                        <i data-bind="text: genre"></i>
                    </strong>
                    <hr>
                    <p class="card-text" data-bind="text: about"></p>
                    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
            </div>
          </div>
          <hr class="invisible">
      </div>
    </div>
  </div>
</div>

<div class="add-btn fixed-bottom">
    <input type="button" value="" class="btn btn-primary float-right fa fa-plus fa-lg" style="margin: 50px; border-radius: 100px;">
</div>
